@media (min-width: 1920px) {
  html {
    font-size: clamp(
            16px,
            calc(16px + (100vw - 1920px) / 100),
            20px
    );
  }
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}

body {
  background: var(--color-text);
  color: var(--color-white);
  font-family: var(--font-base);
}