@use 'functions' as *;

@mixin square($size) {
  width: rem($size) !important;
  min-width: rem($size) !important;
  height: rem($size) !important;
  min-height: rem($size) !important;
}

@mixin hover() {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}